/*=================================== Reset Rules ======================================*/
html, body {
    width: 100%;
    height: 100%;
}

/*=================================== Jasny Custom ======================================*/
.navbar-default {
    background-color: #141414;
    width: 350px;
}

.navbar-default, .navbar-toggle {
    border: none;
}

.navbar-toggle {
    display: block;
    float: left;
    margin-right: 0;
    margin-left: 15px;
    border-radius: 0;
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover  {
    background-color: transparent;
}

.navbar-default .navbar-brand, .navmenu-brand, .navmenu-nav li a {
    color: #ffffff !important;
}

.navbar-brand, .navmenu-brand {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    text-transform: uppercase;
}

.navmenu, .navbar-offcanvas {
    width: 350px;
}

.navmenu-default {
    background-color: #141414;
    border-color: #1c1c1c;
}

.navmenu-nav .active a {
    background-color: #2e2e2e !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    body, a, h1, h2, h3, h4 {
        font-size: 14px !important;
    }

    body {
        transition:all .2s ease !important;
        -o-transition:all .2s ease !important;
        -moz-transition:all .2s ease !important;
        -webkit-transition:all .2s ease !important;
    }

    .hamburger {
        display: block;
    }

    .navbar-default {
        width: 100%;
    }
}

/*=================================== Off Canvas ======================================*/
#myNavmenu {
    margin-top: 50px;
}

.off-canvas {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.filter-box {
    width: 100%;
    margin-bottom: 90px;
}

.filter {
    height: 40px;
    margin-left: 5%;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.filter-icon-holder {
    height: 40px;
    background-color: #1fbad6;
    border: none;
    display: inline-block;
}

.filter-icon {
    color: #ffffff;
    font-size: 1.2em;
}

.place-list {
    margin: 20px 0;
}

.places {
    list-style-type: none;
    padding: 0;
}

.place {
    margin: 10px 0 10px 0;
    padding: 15px 0 15px 15px;
    color: #ffffff;
}

.active {
    background-color: #262626;
}

@media screen and (max-width: 768px) {
    #myNavmenu {
        margin-top: 0;
    }
}

/*=================================== Page Content ======================================*/
#map {
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

#map-error {
    position: absolute;
    left: 30%;
    width: 50%;
    top: 10%;
}